@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-900);
}

@theme inline {
  --font-sans: var(--font-main), system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-50);
    --foreground: var(--color-zinc-900);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


